<p id="notice"><%= notice %></p>
<% provide(:title, "Products") %>

 <div id="itemsContainer">
  
  <h1 >Products</h1>
  
  <!-- <h1 class="headings">Our Vision</h1> -->
  
<div>
     <p class="aboutUs">A poor workman blames his tools but an amateur neglect’s them all together. 
     That’s why at Amyzing Lifestyle we have the latest fitness and mindfulness equipment. 
     Find the equipment you need to take your workout to the next level. Making sure you 
     are getting the right vitamins and minerals in your diet is paramount to any good 
     workout plan. So, sign up with us to get these essentials. </p>
    
</div>
     
      <% @items.each do |item| %>
      <div class="itemhols">
       <h1><%= item.title %></h1>
       
       <%= link_to (image_tag item.image_url, :class => "itemholsIm"), item %>
        <p><%= item.description %></p>
       <p>Price <%= number_to_currency(item.price, :unit => "€") %>
       <br>
        Category: <%= item.category %>
       <p>
         <%= link_to 'Show',  item, :class => "button", :role => "button" %>
         <%= link_to 'Edit',  edit_item_path(item), :class => "button", :role => "button" %>
         <%= link_to 'Destroy',  item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
       </p>
        
      </div>
    <% end %>
      
</div>

<br>
<%= link_to 'New Item',  new_item_path, :class => "button", :role => "button" %>
