<p id="notice"><%= notice %></p>

 <div id="itemsContainer">
   <h1><%= @item.title %></h1>
   <%= image_tag @item.image_url, :class => 'welcomIm'  %>
       <h2><%= @item.description %></h1>
   
    <div class="itemhols">
       <p>Price <%= number_to_currency(@item.price, :unit => "€") %>
       <br>
        Category: <%= @item.category %>
        <br>

       <p>
         <%= link_to 'Back',  items_path, :class => "button", :role => "button" %>
          <% if !user_signed_in? %>
             <a href="/cart/<%= @item.id %>" class="button"> Add To Cart</a>
          <% else %>
             <% if current_user.role.eql? "admin" %>
               <%= link_to 'Edit',  edit_item_path(@item), :class => "button", :role => "button" %> 
             <% else %>
               <a href="/cart/<%= @item.id %>" class="button"> Add To Cart</a>
             <% end %> 
          <% end %>
       </p>
      </div>
   </div>

