<% @categories.each do |category| %>

<div class="itemhols">
    <h1><a href="/category/<%= category.title %>"><%= category.title %></a></h1>
    <a href="/category/<%= category.title %>"><img src="assets/Categories/<%= category.image %>" height="150" width="250" /></a>
    
    <P><%= category.description %></P>
   
</div>

<% end %>