 <header class="headSec">
      <h1></h1>
      <ul>
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "Products",  "/items" %></li>
        <li><%= link_to "Recipes", recipes_path %></li>
        <!--to be updated -->
        <% if !user_signed_in? %>
        <li><%= link_to "Register/Login", new_user_session_path %></li>
        
        <% end %>
        <!--visiable to only logged in users-->
        <% if user_signed_in? %>
          <li><%= link_to 'My Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
          <% if current_user.role.eql? "standard" %>
            <li><%= link_to "Upgrade to Pro", "/upgrade" %></li>
          <% end %>
          <% if current_user.role.eql? "admin" %>
            <li><%= link_to "Manage Orders", "/orders" %></li>
            <li><%= link_to "Manage Categories", "/categories" %></li>
          <% else %>
            <li><%= link_to "Cart/Checkout", "/cart" %></li>
            <li><%= link_to "My Orders", "/orders" %></li>
          <% end %>  
        <% end %>

        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        
      </ul>
</header>
